html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F88379
}

.centered-text {
	text-align: center;
	font-size: 58px;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}